.experiences-list-page {
    position: relative; // make this the positioning context
  
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); // dark overlay
      z-index: 1; // lower than content
      pointer-events: none; // clicks go through to content
    }
  
    .experiences-list-page-content {
      position: relative; // needed to respect z-index
      z-index: 2; // higher than overlay
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 0 1rem 1rem 1rem;
  
      .back-button-list {
        align-self: flex-start;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 1.5rem;
        padding: 0;
        display: flex;
        margin: 1rem 0;
        filter: invert(100%);
  
        img {
          width: 1.5rem;
          transform: scaleX(-1); // flips horizontally
        }
      }
    }
  }
  