.experience-page-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: .5rem;
    z-index: 1;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 0;
        pointer-events: none;
      } 

    .experience-page-content {

      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 0;
      color: white;
      position: relative;
      z-index: 2;

      .back-button-experience-page {
        align-self: flex-start;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 1.5rem;
        padding: 0;
        display: flex;
        margin-bottom: 1rem;
        filter: invert(100%);
  
        img {
          width: 1.5rem;
          transform: scaleX(-1); // flips horizontally
        }

      }

      h2 {
        font-size: 2.2rem;
        color: #f0c000;
        margin-bottom: 0;
      }

      hr {
        width: 100%;
        opacity: .3;
      }

    .category-container {
        display: flex;
        height: 3rem;
        align-items: center;

        .category {
            margin: 0 .5rem 0 0;
            border: none;
            color: black;
            background: none;
            font-size: 1.3rem;
    
          }
    
          .skill-tag,
          .adventure-tag {
            color: #f0c000;
        }

        img {
            width: auto;
            height: 100%;
            filter: invert(100%);
            text-align: left;
            margin: 0 0 0 .5rem;
            opacity: .8;
        }
    }

    .date-time-container-experience-page {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .experience-photo {
        border-radius: 10px;
        margin-bottom: 2rem
    };

    .modifying-buttons-experience-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 2rem;


      button {
        padding: .7rem 1.4rem;
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        color: black;
        width: 80%;
      }

      .edit-button-experience-page {
        background: white;
      }

      .delete-button-experience-page {
        background: rgb(239, 121, 121);
      }

    }
  }




}